<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dc.lockphone" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Paypal settings - start -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <!-- Paypal settings - end -->

    <application
        android:name=".LockphoneApplication"
        android:allowBackup="true"
        android:icon="@drawable/lockphone_48dp"
        android:label="@string/app_name"
        android:theme="@style/LockphoneActionBarTheme" >
        <activity
            android:name=".controller.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.LaunchActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".controller.PhoneInfoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".controller.RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".controller.PayActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".controller.HomeRegisteredActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".controller.ContratoActivity"
            android:label="Contrato"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.HomeRegisteredActivity" />
        </activity>
        <activity
            android:name=".controller.AseguradoraActivity"
            android:label="Aseguradora"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.HomeRegisteredActivity" />
        </activity>
        <activity
            android:name=".controller.ReclamoActivity"
            android:label="Reclamos"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.HomeRegisteredActivity" />
        </activity>
        <activity
            android:name=".controller.ContactUsActivity"
            android:label="Contactenos"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.HomeRegisteredActivity" />
        </activity>
        <activity
            android:name=".controller.ProfileActivity"
            android:label="Perfil"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.HomeRegisteredActivity" />
        </activity>
        <activity
            android:name=".controller.LoginActivity"
            android:label="Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="41ad49d43471dd3e631b695825140071ff1aeb6c" />

        <!-- Paypal settings - start-->
        <service android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <!-- Paypal settings - end-->

    </application>

</manifest>
