<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dc.lockphone" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:name=".LockphoneApplication"
        android:allowBackup="true"
        android:icon="@drawable/lockphone_48dp"
        android:label="@string/app_name"
        android:theme="@style/LockphoneActionBarTheme" >
        <activity
            android:name=".controller.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.LaunchActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".controller.PhoneInfoActivity">
        </activity>
        <activity
            android:name=".controller.RegisterActivity">
        </activity>
        <activity
            android:name=".controller.PayActivity">
        </activity>
        <activity
            android:name=".controller.HomeRegisteredActivity"
            android:label="@string/app_name" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="41ad49d43471dd3e631b695825140071ff1aeb6c" />
    </application>

</manifest>
